# Configs Ollama local
MODEL_NAME=qwen3:8b
OLLAMA_MODEL_NAME=rjmalagon/gte-qwen2-1.5b-instruct-embed-f16:latest
API_KEY=ollama
BASE_URL=http://localhost:11434/v1/

# Configs LiteLLM cit
# MODEL_NAME=gpt-4o-mini
# API_KEY=eyJcsermvds35f....
# BASE_URL=flow-llm-proxy

# Pinecone RAG Embebedding Database (https://app.pinecone.io/)
# Name: pinecone-rag-embedding-database
# Configuration: text-embedding-3-small
# Dimension: 1536
INDEX_NAME=YOUR_DATA_BASE_NAME
PINECONE_API_KEY=YOUR_PINECONE_API_KEY