# Configs Ollama local
MODEL_NAME=qwen3:8b
API_KEY=ollama
BASE_URL=http://localhost:11434/v1/
OLLAMA_MODEL_NAME=qwen2.5:7b

# Configs LiteLLM CI&T
# MODEL_NAME=gpt-4o-mini
# API_KEY=eyJcsermvds35f....
# BASE_URL=flow-llm-proxy